<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<link rel="shortcut icon" type="image/jpeg" href="data:,">
<title>soruly's search</title>
<style>
a{
  text-decoration:none;
color:#66F;
}
a:hover{
    text-decoration:underline;
  }
body{
  font-family:Arial;
  line-height:1.4em;
padding:20px;
        font-size:12px;
}
form>input[type=text]{
width:50%;
}
</style>
</head>
<body>
<form action="/" method="get">
<input type="text" name="q" autofocus value="{{q}}">
<input type="submit">
</form>
<small>About {{results.hits.total}} results ({{results.took}} miliseconds)</small><br>
{{#each results.hits.hits}}
{{this._source.filename}}<br>
{{/each}}
<div><a href="{{prev}}">Prev</a></div>
<div style="text-align:right"><a href="{{next}}">Next</a></div>
</body>
</html>
